<!-- <h1>Home</h1>
<hr>
<ng-template #addSensor let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Añadir Sensor</h4>
    <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
      <span aria-hidden="true" &times;></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Id</label>
      <input type="number" class="form-control" required>
    </div>
    <div class="form-group">
      <label>Nombre</label>
      <input type="text" class="form-control" required>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)=modal.close>Ok</button>

  </div>
</ng-template>
<button type="button" class="btn btn-outline-danger" (click)="modal.open(addSensor)">lanzar modal</button> -->
